{% extends 'base.html' %}

{% block content %}

<div style="height: 100rem; background-color: green; border-radius: 1rem; margin: 2rem;">
	<h1>Hello world!</h1>

	<form action="/account/helloworld/" method="POST">
		{% csrf_token %}

		<div>
			<input type="text" name="helloworld_input">
		</div>

		<div>
			<input type="submit" class="btn" value="post it">
		</div>
		
	</form>

	{% if helloworld_output %}
		{% for item in helloworld_output %}
			<h1>
				{{ item.text }}
			</h1>
		{% endfor %}
	
	{% else %}
	<h1>
		{{ text }}
	</h1>
	{% endif %}

	

</div>

{% endblock content %}